<script setup>
</script>

<template>
  <main class="isolate">
    <!-- Hero section -->
    <div class="relative isolate -z-10 overflow-hidden py-16 sm:py-20 lg:px-8">
      <h1 class="max-w-2xl text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl lg:col-span-2 xl:col-auto">
        Roh att khradh 
      </h1>
      <h2 class="mt-4 text-2xl font-semibold tracking-tight text-gray-900">
        a miwetten 
      </h2>
    </div>
  </main>
</template>
